/target
/.env
/.project
/Procfile*
/*.sublime-project
/*.sublime-workspace
/logs/**
/.classpath
/.extract

/src/main/webapp/logs
/src/main/webapp/WEB-INF/*
!/src/main/webapp/WEB-INF/*.xml
!/src/main/webapp/WEB-INF/lib/
!/src/main/webapp/WEB-INF/railo/

/src/main/webapp/WEB-INF/lib/*
!/src/main/webapp/WEB-INF/lib/railo-server/

/src/main/webapp/WEB-INF/lib/railo-server/*
!/src/main/webapp/WEB-INF/lib/railo-server/context/

/src/main/webapp/WEB-INF/lib/railo-server/context/*
!/src/main/webapp/WEB-INF/lib/railo-server/context/railo-server.xml

/src/main/webapp/WEB-INF/railo/*
!/src/main/webapp/WEB-INF/railo/railo-web.xml.cfm
!/src/main/webapp/WEB-INF/railo/library
!/src/main/webapp/WEB-INF/railo/customtags